<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html" }}
  <title>{{ .Title }}</title>
</head>

<body>
  <container class="main-container">
    {{ partial "menu.html" }}

    <main>
      <div class="grid">
        
        <section class="heading">
          <div id="header1" class="title"></div>
          <!-- TODO  Make these dynamic -->
          <div class="tags">
            <li class="tag-filter"><a href="/tags/reflections/">Reflections</a></li>
            <li class="tag-filter"><a href="/tags/learning/">Learning</a></li>
            <li class="tag-filter"><a href="/tags/projects/">Projects</a></li>
            <li class="tag-filter"><a href="/tags/interesting/">Interesting</a></li>
          </div>
        </section>
        
        <div class="card-container">
          {{- range .Pages }}
          <div class="journal" onclick="window.location.href='{{ .Permalink }}'">
            <h2>{{ .Title }}</h2>
            <span>{{ .Date.Format "January 2, 2006" }}</span>
          </div>
          {{- end }}
        </div>
      
      </div>
    </main>

    <footer>
      <script>
        function start() {
          type('journals', 'header1');
        }
        window.onload = start;
      </script>
    </footer>
  </container>
</body>

</html>