<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html" }}
  <title>{{ .Title }}</title>
</head>

<body>
  <container class="main-container">
    {{ partial "menu.html" }}

    <main>  
      <div class="grid">
        <section class="heading">
          <div id="header1" class= "title"></div>
            <div class= "tags"> 
              <li class= "tag-filter">Reflections</li>
              <li class= "tag-filter">Self Learning</li>
              <li class= "tag-filter">Projects</li>
              <li class= "tag-filter">Cool Shit</li>
          </div>
        </section>
        <div class = "card-container"> 
          {{- range .Pages }}
         <!-- <div class="journal"> -->
           <a href="{{ .Permalink }}" class="link_post">
            <div class="journal"><h2>{{ .Title }}</h2>
            <span>{{ .Date.Format "January 2, 2006" }}</span>
          </div>
          </a>
        <!-- </div>  -->
          {{- end }}
        </div>
        
      </div>
      
    </main>

    <footer>
      <script>
        function start() {
          type('journals', 'header1');
        }
        window.onload = start;
      </script>
    </footer>
  </container>
</body>

</html>