
/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Styling */

* {
  font-family:'Poppins';
}

html {
  box-sizing: border-box;
}

h1, #header1 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 90pt;
  text-transform: lowercase;
  margin-bottom: 1rem;
}

h2 {
  font-size: 30pt;
  font-weight: 600; /* Semi-Bold*/
  padding: 0rem 0rem 1rem 0rem;
  margin: 0px;
}

p {
  font-size: 16pt;
  font-weight: 300; /* Light 300 */
}

main {
  display: grid;
}

.menu {
  margin: auto;
  width: 50%;
}

.navs {
  padding-top: 0%;
  padding-left: 5%;
}

.nav {
  font-family: 'Poppins';
  font-size: 20pt;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

#navlogo {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: burlywood;
  transition: 0.3s;
}

body {
  background-color: blanchedalmond;
}

/* Menu */

.sidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: blanchedalmond; 
  border-radius: 0 1rem 1rem 0;
}

.sidenav a:hover {
  left: 0;
}

#home {
  top: 30px;
  background-color: burlywood;
}

#journals {
  top: 100px;
  background-color: #323c40;
  width:120px;
  left:-100px;
}

/* why call this specifically? */
#journals:hover {
  left:0;
}

#links {
  top: 172px;
  background-color: burlywood;
}

#about {
  top: 245px;/* The about link: 20px from the top with a green background */
  background-color: #323c40;
}

/* Heading */

section{
  display: grid;
  grid-template-columns: .5fr .5fr .5fr 1fr 1fr 6fr 1fr 1fr .5fr .5fr .5fr;
  grid-template-rows: 25% 25% 25% 25%;
  grid-column: 4 / span 4;

}

.title {
  grid-column: 3 / span 4;
  grid-row: 1 / span 1;
}

 /* Filters */ 

section .tags {
  grid-column: 5 / span 5;
  grid-row: 4 / span 1;
  padding-bottom: 4%;
}

section .tag-filter {
  font-family: 'Poppins';
  font-size: 12.5pt;
  font-weight: 300;
}

.tag-filter:hover {
  cursor: pointer;
  color: #CEA07E;
  transition: 0.3s;
}

section li {
  display: inline;
  padding-right: 2%;
}

/* Journal Cards */

.grid {
  display: grid;
  grid-template-columns: 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333%;
  grid-template-rows: auto auto 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% ;
  column-gap: 1%;
}

.card-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: .5fr .5fr .5fr .5fr .5fr .5fr;
  grid-column: 3 / span 6;
  column-gap: 1%;
  row-gap: 1%;
}

.journal {
  padding: 2rem;
  padding-top: 1rem;
  border-radius: 2rem;
}

.journal:hover{
  cursor: pointer;
  background-color: #323c40;
  color: burlywood;
  transition: background-color 0.5s ease;
}

.tag {
  padding: 5px 9px 5px 9px;
  border-radius: 10px;
  background-color: burlywood;
  color: black;
}

.tag:hover {
  background-color: #273033;
  transition: background-color 0.2s ease;
}

 /* About Me */

 #aboutheader {
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 2%;
  grid-column: 3 / span 5;
  grid-row: 1;
}

#myname {
  display: inline;
  grid-column: 3 / span 3;
  grid-row: 10 / span 1;
  font-size: 30pt;
  font-weight: 600; /* Semi-Bold*/
}

.bio {
  grid-column: 3 / span 3;
  grid-row: 3;
}

/* Responsiveness */

@media screen and (max-width:601px){
  h1, #header1 {
    font-size: 35pt;
    transition: font-size 1s;
  }
}

@media screen and (min-width:600px){
  h1, #header1 {
    font-size: 90pt;
    transition: font-size 1s;
  }
}

@media screen and (max-width:601px){
  h2 {
    font-size: 30pt;
    transition: font-size 1s;
  }
}


@media screen and (max-width:600px){
  .tags {
    font-size: 6pt;
    transition: font-size 1s;
  }
}