<!DOCTYPE html>
<html>

<head>
  {{ partial "head.html" }}
  <title>journals</title>
</head>

<body>

  {{ partial "menu.html" }}

  <main>  
    <div class="grid">
      <div id="header1" class= "title" style="display: grid"></div>
      <div class= "tags"> 
        <li class= "tag-filter">Shower Thoughts</li>
        <li class= "tag-filter">Reflections</li>
        <li class= "tag-filter">Self Learning</li>
        <li class= "tag-filter">Projects</li>
        <li class= "tag-filter">Misc.</li>
      </div>
      <div class = "card-container"> 
        <p class= "journal">Coming</p>
        <p class= "journal">Soon</p>
        <p class= "journal">:)</p>
      </div>
     
    </div>
    
  </main>

  <footer>
    <script>
      function start() {
        type('journals', 'header1');
      }
      window.onload = start;
    </script>
  </footer>

</body>

</html>
