
/* General Styling */

h1 {
  font-family: 'Poppins';
  font-size: 100pt;
  text-transform: lowercase;
}

h2 {
  font-family:'Poppins';
  font-size: 25pt;
  font-weight: 500; /* Medium */
  display: inline;
}

main {
  display: inline;
}

.menu {
  margin: auto;
  width: 50%;
}

.navs {
  padding-top: 0%;
  padding-left: 5%;
}

.nav {
  font-family: 'Poppins';
  font-size: 20pt;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.posts{
  font-family: 'Poppins';
  font-size: 20pt;
}

a {
  font-family: 'Poppins';
  text-decoration: none;
  color: black;
  background-size: 20px;
  cursor: pointer;
}

a:hover {
  color: burlywood;
  transition: 0.3s;
}

body {
  background-color: blanchedalmond;
}

/* Menu */

/* #navToggleButton {
  display: inline-block;
  width: 100%;
  cursor: pointer;
} */

.top, .middle, .bottom {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 7px 0;
}

.sidenav {
  width: 0;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 8px 0;
  padding-top: 50px;
  transition: 0.5s;
}

/* .sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
} */

/* Filters */

.tag-filter {
  font-family: 'Poppins';
  font-size: 11.3pt;
  font-weight: lighter;
  padding-right: 15px;
  display: inline-block;
}

#tag-filter-row{
  margin-top:10px;
}
.tag-filter:hover {
  cursor: pointer;
  color: burlywood;
  transition: 0.3s;
}

/* Journal Cards */

.journal-deck {
  box-sizing: border-box;
  width: 70%;
  max-width: 1500px;
  margin-left: 115px;
  margin-top: 50px;
}

.journal-card {
  float: left;
  width: 33.3%;
  padding-bottom: 20px;
  min-height: 290px;
}

.inner-grid {
  position:relative;
}

.line {
  width: 3in;
  height: 2pt;
  background-color: black;
}