<!DOCTYPE html>
<html>

<head>
  {{ partial "head.html" }}
  <title>nuance</title>
</head>

<body>
  <div class="menu">

    <h1 id="header1"></h1>

    <div class="navs">
      <p class="nav"><a id="nav1" href="/journals/"></a></p>
      <p class="nav"><a id="nav2" href="/readings/"></a></p>
      <p class="nav"><a id="nav3" href="/links/"></a></p>
      <p class="nav"><a id="nav4" href="/about/"></a></p>
    </div>
  </div>

  <footer>
    <script>
      function start() {
        type('nuance', 'header1');
        typeBlink('journals', 'nav1');
        typeBlink('readings', 'nav2');
        typeBlink('links', 'nav3');
        typeBlink('about me', 'nav4');
      }
      window.onload = start;
    </script>
  </footer>

</body>

</html>
